services:
  app:
    build: ./api
    ports:
      - "8080:8080"
    develop:
      watch:
        - action: sync
          path: ./api
          target: /src/api
        - action: rebuild
          path: ./api/requirements.txt